.calculator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 200px;
  }
  
.calculator input {
    grid-column: 1 / span 3;
    height: 40px;
  }
  
  .calculator button {
    height: 40px;
  }