/*#grid{
    display: grid;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 200px;
    text-align: center;
  }
  */
.container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.calculator input {
    grid-column: 1 / span 3;
    height: 40px;
  }
  
  .calculator button {
    height: 40px;
  }
  body{
    background-color: beige;
  }
  #display{
    font-size: 20px;
    width: 200px;
    padding: 10px 20px;
  }
  button{
    width: 90px;
    border-radius: 50px;
    padding: 20px 20px;
  }
  #grid{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 200px;
    text-align: center;
    
    position: relative;
  }
  .calculator{
    justify-content: center;
    align-items: center;
  }